@page
@model eStore.Pages.EmployeePageModel
@{
	ViewData["Title"] = "eStore - Employee";
}
@if (User.FindFirst("id") != null)
{
	<p>your id is : @User.FindFirst("id").Value</p>
}
<p>your name is : @User.Identity.Name</p>
